.navbar {
 width: 100%;
 height: auto;
 margin: 0;
 padding: 0;
 background-color: #efefef;
 box-shadow: 0px 3px 3px #ddd;
}

.navbar div{
 height: 50px;
 display: flex;
 align-items: center;
}

.navbar img{
 margin: 0 10px 0 0;
 max-height: 30px;
}

.navbar a {
 text-decoration: none;
 color: #333;
}

.navbar a:active {
 color: #333;
}

.navbar h1{
 font-size: .75em;
 margin-left: 5px;
 font-weight: 1000;
 text-shadow: 0 0 2px #555;
 font-family: Monospace;
}

.navbar ul{
 display: flex;
 align-items: start;
 list-style: none;
}

.navbar ul li{
 padding: 0 5px;
 margin: 2px;
 /* background-color: yellow; */
 flex-basis: flex-end;
}
